// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colors
$color-blue:         #0097db;
$color-blue-deep:    #3b5998;
$color-blue-deep-a:  #407ec9;
$color-blue-deep-b:  #4879b5;
$color-blue-deep-c:  #4d82c1;
$color-deep-yellow:  #fed100;
$color-lighter-yellow: #ffc000;
$color-light-yellow: #ffe300;
$color-blue-lightest:#eef9fd;
$color-blue-lighter: #87ceeb;
$color-blue-b:       #407ec9;
$color-blue-c:       #087db1;
$color-green:        #00b550;
$color-green-ligh-a: #d9f4e5; 
$color-red:          #ff5868;
$color-orange:       #fe9320;
$color-grey:         #e2e4e5;
$color-grey-deep:    #a7a8aa;
$color-grey-deep-a:  #b5b5b5;
$color-grey-a:       #f1f1f1;
$color-grey-b:       #8c9399;
$color-grey-c:       #e5e5e5;
$color-grey-d:       #e6e6e6;
$color-grey-e:       #21282e;
$color-grey-lighter: #f2f2f2;
$color-grey-lightest: #f7f7f7;
$color-black:        #1a1a1a;
$color-white:        #FFFFFF;
$color-fb:           #3a5a98;
$color-fb-btn:       #2e4c85;
$color-light-blue:   #EEF9FD;
$color-athens-gray:  #F9F9FA;

// Bootstrap Select
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);

$width-default: 220px; // 3 960px-grid columns

$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999;


//** mixins

@mixin border-radius($radius: 5px){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}